.log_inbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 420px;
    height: 620px;
    box-sizing: border-box;
    background: rgb(0,0,0,0.5);
    padding: 80px 40px;
}